body{
    background: rgb(201, 204, 206); 
     /* background: linear-gradient(to bottom left, red, blue, yellow);  */
    background: url("https://thumbs.dreamstime.com/b/natural-organic-spa-cosmetic-products-set-green-leaves-top-view-herbal-skincare-beauty-background-banner-mockup-eco-172418876.jpg");
}


nav{
    flex:1;
    text-align: right;
    background-color: rgb(0, 0, 0);
}



nav ul{
    display: inline-block;
    list-style-type: none;
}


nav ul li{
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 50px;
    text-transform: uppercase;
    transition: background 300ms ease-in-out;
}


nav ul li:hover{
    background: rgb(0, 128, 0);
text-decoration:underline;
}



#nav-1{
    background-color: rgb(134, 91, 9);
    width: 100%;
    height: 50px;
}



.navbar{
    display: flex;
    align-items: center;
    padding: 40px;
    width: 80%;
}



#nav-2{
    text-align: left;
    color: black;
    padding-top: 10px;
    height:90px;
}




#heading-1{
    color: rgba(248, 161, 0, 0.925);
    text-transform: uppercase;
    font-size: bold;
    font-family: sans-serif;
}



#img-1{
    width: 100%;
    height: 500px;
    border: 2px;
    padding-bottom: 30px;
}



#subtitle-1{
    text-align: center;
    font-size: bold;
    font-weight:600;
    text-transform: uppercase;
    font-family:'Times New Roman', Helvetica, sans-serif;
    font-style:italic;
}

#subtitle-2{
    color:steelblue;
    text-align: center;
    text-indent: 30px;
    font-weight: 600;
    font-size: bold;
    font-family: sans-serif;
}

.para{
    color:black;
    font-size: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-style: oblique;
    margin-bottom: 60px;
}

 /* Clearfix (clear floats) */
 .row::after{
    content:"";
    clear: both;
    display: table;
    }


.column{
    float: left;
    width: 32%;
    padding: 8px;
    padding-bottom: 100px; 
}


    .whole-form{
        display: flex;
        background-color: black;      
    }

    .field-space{
    padding-right: 20px;
    margin-left: 5%;
    }

    .input-input{
        padding: 15px;
    }

       #a-tag{
        color: black;
        background-color: white;
        text-transform: uppercase;
        padding: 15px;
        margin-left: 20px;
        border-radius: 10px;
        padding-left: 60px;
        padding-right: 60px;
        text-align: center;
    }

    #a-tag:hover{
        color:rgb(105, 114, 240);
    }


    .heading{
        /* padding-left: 16%; */
        /* float: right; */
        text-align: center;
        margin-top: 1%;
        color: navy;
        
    }


    #para-1{
        font-size: large;
        font-family:Arial, Helvetica, sans-serif;
        padding: 5%;
        text-align: center;
        text-align: justify;
    }


.woman{
    width: 25%;
    position: relative;
    top: 0;
    left: 0;
}

.man{
    width: 25%;
    position: absolute;
    right: 20px;
    left: 40px;
    margin-top: 10%;
    margin-left: 10%;
}


#footer{
    background-color:black;
    height: 10vh;
    margin-bottom: 0%;
    padding-top: 10px;
}

.para-0{
    margin-left: 15%;
    text-transform:capitalize;
    color: white;
    font-size: bold;
    font-weight: 600;
}


/* #subtitle{
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-size:bold;
    font-weight: 600;
    word-spacing: 0em;
} */

a{
    text-decoration: none;
    color: rgb(15, 15, 179);
}

/* .container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
} */

#h1{
    color: green;
    text-transform: uppercase;
    margin-left: 55%;
    padding-top: 3%;
}

#address{
    margin-left: 55%;
    text-align: justify;
    font-size: bold;
    font-weight: 400;
    text-transform: uppercase;
    padding-right: 3%;
    padding-bottom: 1%;
}

#a-href{
    margin-left: 55%;
    text-transform: uppercase;
    font-size: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 400;
    margin-right: 17%;
}

#para-3{
margin-left: 55%;
text-transform: uppercase;
color: orange;
}


.form-input{
    color: white;
    background-color: black;
    width: 219px;
    margin-left: 5%;
    padding-left: 3%;
    padding-right: 15%;
    border-radius: 5px;
    display: inline-block;
    padding-top: 5%;
}

#submit{
    background: rgb(15, 15, 179);
    color: rgb(201, 204, 206);
    padding:15px;
    margin-left: 1%;
    padding-right: 30%;
    text-transform:capitalize;
    padding-left: 20%;
    margin-bottom: 20%;
    font-size: bold;
    font-weight: 700;
    transform: skewX(45deg);
    -webkit-transition: all 500ms ease;
    -moz-transition:  all 500ms ease;
    -ms-transition:all 500ms ease;
    -o-transition: all 500ms ease;
}

 #submit:hover{
    background:rgb(255, 0, 0);
    padding: 20px 30px;
    font-family: Arial, Helvetica, sans-serif;
}
 
/* Clearfix (clear floats) */
.row-3::after{
    content:"";
    clear: both;
    display: table;
    } 

.column-3{
    float: left;
    width: 33%;
    padding: 2px;
    /* padding-bottom: 70px; */
    margin-bottom: 5%; 
}


.social{
    display:block;
    margin-bottom: 1%;
    margin-left: 30px;    
}

#facebook:hover{
    background: rgb(15, 15, 179);
    color: rgb(180, 123, 16);
}

#twitter:hover{
    background: rgb(15, 15, 179);
    color: rgb(226, 174, 77);
}

#instagram:hover{
    background: rgb(15, 15, 179);
    color: rgb(179, 122, 17);
}

/* Clearfix (clear floats) */
.row-3::after{
content:"";
clear: both;
display: table;
}

.aboutpage1{
    background-color: grey;
    background:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuEBROdbhWfsxXVqiJPiosySpjyHrlUC4O6g&usqp=CAU");
    height: 50vh;
    padding-top: 100px
}

#about-us{
    color: red;
    word-spacing: 7px;
    text-align: center;
    font-size: xx-large;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-style: italic;
}

#about-us2{
    color: navy;
    word-spacing: 7px;
    text-align: center;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;

}

.hitory{
    background:url("https://ak.picdn.net/shutterstock/videos/1066577566/thumb/7.jpg?ip=x480")
}

.story{
    margin-left: 15%;
    padding-top: 10%;
    text-transform: uppercase;
    font-style: oblique;
    color: green;
}

.para-5{
    /* float: right; */
    margin-left: 30%;
    padding-bottom: 20px;
    text-transform: uppercase;
    color: green;
    font-size: xx-large;
    font-weight: 800;
    font-family: sans-serif;
}

.para-6{
    /* float: right; */
    margin-left: 40%;
    padding-bottom: 20px;
    text-align: justify;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.section{
    background-color:rgb(117, 120, 122);
    height: 60vh;
}

.head-4{
    text-align: center;
    /* margin-top: 5%; */
    padding-top: 8%;
    text-transform: uppercase;
    font-size: small;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

.paragraph{
    text-align:center;  
    text-transform:uppercase;
    color: white;
    font-size: larger;
    font-family: sans-serif;
    font-weight: 600;
}

#input{
    margin-left: 30%;
    padding: 20px;
    text-align: justify;
    padding-left: 100px;
    padding-right: 60px;
    border: 2px solid white;
    background-color:rgb(165, 139, 139);
    color:white;
    }   
    
    #input-2{
        padding: 20px;
        background-color:white;
        color: black;
        font-size: bold;
        font-weight: 600;
        padding-left: 60px;
        padding-right: 60px;
        letter-spacing: 3px;
        border: 2px solid white;
    }
    
    #input-2:hover{
        color: orange;
    }


#para{
    background-color: rgb(0, 0, 0);
    height: 8vh;
    padding-top: 20px;
    margin-top: 0px;
    color: rgb(255, 255, 255);
    /* text-align: center; */
    padding-left: 10%;
    font-size: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
} 

/* start services page design from here*/
#heading {
    text-align: center;
    text-shadow: tomato;
    text-transform: uppercase;
    color: orangered;
    padding-top: 5px;
    padding: 20px 5px 5px 0px;
}


.para-text{
    font-size: medium;
    font-family: "sans-serif", Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: normal;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 10px;
    padding: 10px;
    width: 95vw;
    padding-left: 20px;
    text-transform: capitalize;
    word-spacing: 1em;
    font-size: larger;
}


#about-me {
    color: #0000ff;
    background: rgba(0, 0, 0, 0.87);
    border-radius: 10px;
    width: 95.2vw;
    padding: 7px;
    margin: 60px 10px;
    padding-left: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:xx-large;
    font-weight: bold;
    
}


#about-me{
    animation: green-to-black 4s linear infinite reverse;
}

 @keyframes green-to-black {
    0% {
        background: green;
        transform: translate(0px 0px);
    }

    50% {
        background: yellow;
        transform: translate(10px 10px);
    }

    100% {
        background: lime
        transform: translate(20px 20px);
    }

}


#about-us-image {
    height: 500px;
    width: 50%;
    border: 5px solid rgba(0, 0, 0, 0.856);
    padding: 10px 7px 10px 7px;
    margin: 50px 40px;
    float: right; 
    /* display:inline-block; */
}


#about-us-image{
    animation: yellow-to-black 4s linear infinite alternate-reverse;
}

 @keyframes yellow-to-black {
    0% {
        background: red;
        transform: translate(0px 0px);
    }

    50% {
        background: orange;
        transform: translate(10px 10px);
    }

    100% {
        background: black;
        transform: translate(20px 20px);
    }

}


.article-subtitle {
color: rgb(128, 0, 128);
margin-bottom: 100px;
padding-left: 250px; 
padding-right: 100px;
font-style: italic;
font-family: sans-serif, Georgia, 'Times New Roman', Times, serif;
font-size: xx-large;
font-weight: 800;
float: right;
}


.para-text2 {
    color: rgb(0, 0, 0);
    font: bold;
    font-size:large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     font-weight: 800; 
     margin-top: 400px;
}


#popular-post {
    font-style: italic;
    padding: 100px 5px 5px 50px;
    margin-top: 500px;
    color: #ffa500
}


 .images {
    width: 60%;
    height: 300px;
    border: 5px solid rgb(0, 0, 0);
    padding: 10px 10px 10px 10px;
    margin-top: 100px;
    margin: 80px 40px;
    
} 

#image {
    width: 60%;
    height: 300px;
    border: 10px solid rgb(0, 0, 0); 
    padding: 10px 10px 10px 10px; 
    margin-top: 100px;
    margin: 80px 40px;
    /* background-size: cover; */
    /* background: radial-gradient(circle, red 20%, blue 60%, green 50%); */
    /* background: linear-gradient(215deg, red, blue, yellow ); */
}

.form-input2 {
    float:right;
    margin: 80px 40px;
    text-transform: capitalize;
    font-style: italic;
    font-family: Arial, sans-serif;
    font-weight: 800;
    margin-bottom: 50px;

}

.textarea2 {
    border: 2px solid rgb(0, 0, 0);
    margin-left: 40px;
    border-radius: 10px;
    background:rgb(0, 0, 255);
    color: white; 
    text-transform:capitalize; 
}

.submit-button2 {
    background: rgb(89, 150, 255);
    color: rgb(250, 250, 250);
    margin: 10px 5px;
    padding: 10px 15px;
    text-transform: capitalize;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', serif;
    font-weight: 600;
    transform: skewX(-45deg);
    -webkit-transition: all  500ms ease;
    -moz-transition: all  500ms ease; 
    -o-transition: all 500ms ease;    
    -ms-transition: all 500ms ease;    
}

.submit-button2:hover {
    background: rgb(147, 187, 255);
    padding: 20px 30px; 
    font-family: sans-serif;
    text-transform: lowercase; 
} 

.container {
    background:rgb(250, 250, 250);
    margin: 10px;
    height: 300px;

    display: flex ;
    flex-direction:row;
    /* flex-wrap: wrap; */
    justify-content:center;
    align-items: center;
}

.container-item {
    background: rgb(36, 130, 39);
    color: white;
    font-size: 25px ;
    text-align: center ;

    width: 70px;
    line-height: 50px;
    margin: 10px;
}

.grid-container {
    background: rgb(255, 255, 255);
    margin: 10px;
    height: 500px;

    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    /* grid-gap: 200px 150px; */
    /* justify-content: space-around;
    align-content:space-between; */
}

.grid-item {
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-align: center;

    width: 70px;
    line-height: 40px;
    margin: 10px;
}

/* #add-img {
    background: url("C:\Users\Acer\Pictures\Saved Pictures\20210426_112452.jpg");
    width: 100px;
    height: 300px;
} */


#submit {
    animation: red-to-black 4s linear infinite alternate-reverse;
}

 @keyframes red-to-black {
    0% {
        background: red;
        transform: translate(0px 0px);
    }

    50% {
        background: steelblue;
        transform: translate(10px 10px);
    }

    100% {
        background: black;
        transform: translate(20px 20px);
    }

} 

.submit-button2 {
    animation: red-to-black 4s linear infinite alternate-reverse;
}

 @keyframes red-to-black {
    0% {
        background: red;
        transform: translate(0px 0px);
    }

    50% {
        background: steelblue;
        transform: translate(10px 10px);
    }

    100% {
        background: black;
        transform: translate(20px 20px);
    }

} 

.aboutpage1 {
    animation: red-to-black 4s linear infinite alternate-reverse;
}

 @keyframes red-to-black {
    0% {
        background: red;
        transform: translate(0px 0px);
    }

    50% {
        background: steelblue;
        transform: translate(10px 10px);
    }

    100% {
        background: black;
        transform: translate(20px 20px);
    }

} 




.para-text{
    animation: red-to-black 4s linear infinite alternate-reverse;
}

 @keyframes red-to-black {
    0% {
        background: red;
        transform: translate(0px 0px);
    }

    50% {
        background: steelblue;
        transform: translate(10px 10px);
    }

    100% {
        background: black;
        transform: translate(20px 20px);
    }

}


.our-services {
    background: blue;
    color: white;
    padding-left: 10px;
    padding: 7px 3px; 
    font-family: 'Times New Roman', Times, serif;
    font-style: italic; 
}



#my-list {
    float: inline-end;
    border: 5px solid rgb(255, 0, 0);
    border-radius: 20px;
    padding: 30px;
    background: rgb(0, 0, 255);
    color: rgb(255, 255, 255);
}


.listitem1 {
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    font-style: italic;
    
}



#dollar-image{
    animation: red-to-black 4s linear infinite alternate-reverse;
}

 @keyframes red-to-black {
    0% {
        background: red;
        transform: translate(0px 0px);
    }

    50% {
        background: steelblue;
        transform: translate(10px 10px);
    }

    100% {
        background: black;
        transform: translate(20px 20px);
    }

} 

#dollar-image {
    float: right;
}


.dealing {
    float: right;
    margin: 150px;
    margin-top: 20px;
    padding-right: 200px;
    text-transform: capitalize;
    font-size: x-large;
    font-style: oblique;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: rgb(128, 0, 128);
}
